/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

body {
  background-color: #ecececdb;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

/* ! About Section Layout */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  min-height: 100vh;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
}

/* ! Text Area */
.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h1 {
  font-family: "Momo Trust Display", sans-serif;
  font-size: 2.5rem;
  color: #111;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-text p {
  font-size: 1.05rem;
  line-height: 1.7;
  color: #555;
  text-align: justify;
  white-space: pre-line;
  font-weight: 500;
}


/* ! Image Area  */
.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 100%;
  max-width: 430px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

/* ! RESPONSIVE  */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-text h1 {
    font-size: 2rem;
  }

  .about-text p {
    font-size: 1rem;
    text-align: center;
  }

  .about-image img {
    max-width: 320px;
  }
}

