/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #ecececdb;
}


/* ! HOMEPAGE TITLE */
.homepage-title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    line-height: 1.4;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  

/* ! CARDS */ 

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 150px auto;
    padding: 20px;
    gap: 20px;
}
.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}
.card-list .card-item:hover {
    border: 2px solid #000;
}
.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.card-item h3 .country {
    background: none;     
    padding: 0;           
    margin: 0;
    border-radius: 0;
    font-weight: 700;     
    font-size: 1.438rem; 
    color: #FFFFF;       
  }
  

.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}

  
.card-list .data {
    background-color: #8354B1; 
    color: #FFFFFF;
}   
.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}
.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}
.card-list .card-item:hover .arrow  {
    background: #8354B1;
    color: #fff; 
}

// ! RESPONSIVE // 

@media (max-width: 768px) {
    .homepage-title {
      font-size: 1.4rem;
      margin-top: 80px;
      margin-bottom: 30px;
    }
  }

@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}
@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}